*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    flex-direction: column;
    font-weight: bold;
    font-family: sans-serif;
}
a {
    padding: 25px 35px;
    margin: 40px;
    border: 2px solid;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition:  all 0.5s ease;
    border-color: white ; 
}
a:hover {
    background-color: whitesmoke;
    color: black;
    box-shadow:  0 0 5px white ,
    0 0 25px white ,
    0 0 50px white ,
    0 0 200px white ;
    -webkit-box-reflect: below 1px linear-gradient(transparent, black);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span {
    position: absolute;
    display: block;
}